# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini
venv/
.git
.github
.vscode
.idea/
apps/__pycache__/
apps/static/ionicons/
*.pyc

# Python:
*.py[cod]
*.so
*.egg
*.egg-info
dist
build

# My configurations:
db.ini
deploy_key_rsa
